In [1]:
import matplotlib.pyplot as plt
import numpy as np
import matplotlib as mpl
import scipy as scipy
import time
import pandas as pd
from sklearn.linear_model import LinearRegression
import re
import Betas as b
import multiprocessing
import validators 
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from itertools import combinations

In [2]:
UNCODES = '/Users/benjaminsionit/Downloads/UNCODES.csv'
UN = pd.read_csv(UNCODES)

DATA = '/Users/benjaminsionit/Downloads/FINALDATA.csv'
FINALDATA = pd.read_csv(DATA)


FINALDATAWITHREGIONS = pd.merge(UN,FINALDATA, right_on = list(FINALDATA.columns)[2], left_on = list(UN.columns)[2])
#print(list(FINALDATAWITHREGIONS.columns))
#FINALDATAWITHREGIONS

In [3]:
def SortBySubRegion(subregion):
    REGION = FINALDATAWITHREGIONS[FINALDATAWITHREGIONS['sub-region'] == subregion]
    if(sum(REGION['Year'] == 'NaN') == 0):
        return(REGION)
    else:
        print("There are NAs for the Year for the inputed sub-region")


def MeanforX(DF, colname):
    ForX = pd.DataFrame()
    for i in pd.unique(DF['Year']):
            Mean = pd.DataFrame({'Year': [i], colname: [np.mean(DF[DF['Year'] == i][colname])]})
            ForX = pd.concat([ForX, Mean])
    return(ForX)

In [4]:
COMPILEDDATA = pd.DataFrame()
for i in pd.unique(FINALDATAWITHREGIONS['sub-region']):
    SUBREGION = SortBySubRegion(i)
    SUBREGIONDATA = pd.DataFrame(np.arange(1992,2018+1))
    SUBREGIONDATA.columns = ['Year']
    for j in SUBREGION.columns[15:]:
        SUBREGIONDATA = pd.merge(SUBREGIONDATA,MeanforX(DF = SUBREGION,colname = j))
    COMPILEDDATA = pd.concat([COMPILEDDATA, SUBREGIONDATA])

In [5]:
COMPILEDDATA.to_csv(r'/Users/benjaminsionit/Downloads/COMPILEDDATA.csv', index=False, header=True)
FINALDATAWITHREGIONS.to_csv(r'/Users/benjaminsionit/Downloads/FINALDATAWITHREGIONS.csv', index=False, header=True)

In [6]:
print(pd.unique(FINALDATAWITHREGIONS['sub-region']))

['Southern Europe' 'Northern Africa' 'Sub-Saharan Africa'
 'Latin America and the Caribbean' 'Australia and New Zealand'
 'Western Europe' 'Southern Asia' 'South-eastern Asia' 'Eastern Europe'
 'Northern America' 'Polynesia' 'Western Asia' 'Northern Europe'
 'Eastern Asia' 'Micronesia' 'Melanesia' 'Central Asia']

In [7]:
NewFinalDataUrl  = '/Users/benjaminsionit/Downloads/NewDataFinal.csv'
final = pd.read_csv(NewFinalDataUrl)
final = final.drop(columns=['Unnamed: 0'])

y = final["Surface Temperature Change"]

listvals = list(final.columns[16:])
for i in range(len(listvals)):
    final[final.columns[16+i]] = (i+1)*final[final.columns[16+i]]
    
regionfactors = np.asmatrix(final[final.columns[16:]]).sum(axis=1)
final = final.drop(columns = final.columns[16:])
final['Region Factors'] = regionfactors

final

,const,Year,Land Coverage,Surface Temperature Change,BC,CO,NH3,NMVOC,NOx,OC,PM10,PM2.5,SO2,CO2,CH4,N2O,Region Factors
0,1.0,1992,69.264629,-0.579,0.853328,25.791130,3.039674,86.290665,16.088104,0.593082,2.143882,1.854832,2.794095,62683.453024,974.869899,2.596461,6
1,1.0,1992,84.831480,0.511,0.001142,0.583143,0.263843,0.094454,0.281613,0.000961,0.009401,0.004620,0.282423,476.083470,2.834219,0.061190,3
2,1.0,1992,76.205103,0.360,0.000121,0.058826,0.000058,0.006139,0.011386,0.000081,0.000237,0.000236,0.001254,7.902936,0.093497,0.000673,3
3,1.0,1992,95.192667,0.105,0.039752,5.993535,26.216038,4.831343,2.508253,0.228474,0.727263,0.505179,0.522469,4027.377643,103.980349,2.924359,2
4,1.0,1992,85.735300,0.606,89.150961,15859.028027,253.204942,320.788063,438.673385,802.504497,2215.204432,1549.418839,69.100699,27801.150922,645.354421,7.937473,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47819,1.0,2018,27.909300,0.405,3.355815,368.704732,61.522615,54.649509,19.284819,13.908446,52.477207,30.016152,11.528146,46425.903295,508.559022,16.531770,8
47820,1.0,2018,18.337500,0.405,3.355815,368.704732,61.522615,54.649509,19.284819,13.908446,52.477207,30.016152,11.528146,46425.903295,508.559022,16.531770,8
47821,1.0,2018,90.625800,0.405,3.355815,368.704732,61.522615,54.649509,19.284819,13.908446,52.477207,30.016152,11.528146,46425.903295,508.559022,16.531770,8
47822,1.0,2018,11645.811900,0.405,3.355815,368.704732,61.522615,54.649509,19.284819,13.908446,52.477207,30.016152,11.528146,46425.903295,508.559022,16.531770,8
47823,1.0,2018,330.521000,0.405,3.355815,368.704732,61.522615,54.649509,19.284819,13.908446,52.477207,30.016152,11.528146,46425.903295,508.559022,16.531770,8

In [8]:
X_variables = final.iloc[:, [0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16]]

vif_data = pd.DataFrame()
vif_data["feature"] = X_variables.columns
vif_data["VIF"] = [variance_inflation_factor(X_variables.values, i) for i in range(len(X_variables.columns))]


while max(vif_data['VIF']) > 10:
    X_variables = X_variables.drop(columns = [vif_data['feature'][vif_data.index[vif_data['VIF'].idxmax()]]])
    vif_data = pd.DataFrame()
    vif_data["feature"] = X_variables.columns
    vif_data["VIF"] = [variance_inflation_factor(X_variables.values, i) for i in range(len(X_variables.columns))]
    


vif_data

          feature       VIF
0            Year  5.370134
1   Land Coverage  1.125951
2              BC  2.285293
3              CO  1.789911
4             CO2  1.462585
5  Region Factors  5.289822

In [9]:
def model_fit_calculator(y, x):
    model = sm.OLS(y, x).fit()
    sse = np.sum((model.fittedvalues - y)**2)
    ssr = np.sum((model.fittedvalues - y.mean())**2)
    sst = ssr + sse
    AIC = len(y)*np.log(sse)-np.log(len(y))+2*x.shape[1]
    BIC = len(y)*np.log(sse)-np.log(len(y)) + (x.shape[1]*np.log(len(y)))
    R_squared = 1 - (ssr/sst)
    VIF = 1 - R_squared
    return(pd.Series({"Dependent": y.name, "Independent": list(x.columns)[0:], 
                      "AIC": AIC, "BIC": BIC, "R-Squared": R_squared, "VIF": VIF}))

In [10]:
model_info = pd.DataFrame(columns = ["Dependent", "Independent", "AIC", "BIC", "R-Squared", "VIF"])

for k in range(2,7):
    comb = list(combinations([0, 1, 2, 3, 4, 5], k))
    for j in range(len(comb)):
        model = X_variables.iloc[:, list(comb[j])]
        model_info = pd.concat([model_info, model_fit_calculator(y, model).to_frame().T], ignore_index = True)

In [11]:
model_info.sort_values(by = ["AIC"], ascending=True)
model_info.sort_values(by = ["BIC"], ascending=True)

,Dependent,Independent,AIC,BIC,R-Squared,VIF
56,Surface Temperature Change,"[Year, Land Coverage, BC, CO, CO2, Region Fact...",453731.773408,453784.425106,0.981902,0.018098
52,Surface Temperature Change,"[Year, Land Coverage, BC, CO2, Region Factors]",453743.7813,453787.657715,0.982197,0.017803
54,Surface Temperature Change,"[Year, BC, CO, CO2, Region Factors]",453764.694505,453808.57092,0.982617,0.017383
43,Surface Temperature Change,"[Year, BC, CO2, Region Factors]",453776.960481,453812.061613,0.982917,0.017083
53,Surface Temperature Change,"[Year, Land Coverage, CO, CO2, Region Factors]",453778.917042,453822.793456,0.982899,0.017101
51,Surface Temperature Change,"[Year, Land Coverage, BC, CO, Region Factors]",453788.982424,453832.858838,0.983124,0.016876
39,Surface Temperature Change,"[Year, Land Coverage, CO, Region Factors]",453805.708777,453840.809909,0.983499,0.016501
37,Surface Temperature Change,"[Year, Land Coverage, BC, Region Factors]",453806.631918,453841.73305,0.983537,0.016463
44,Surface Temperature Change,"[Year, CO, CO2, Region Factors]",453807.214797,453842.315929,0.98352,0.01648
23,Surface Temperature Change,"[Year, CO, Region Factors]",453855.580941,453881.90679,0.984567,0.015433
42,Surface Temperature Change,"[Year, BC, CO, Region Factors]",453848.033932,453883.135063,0.984377,0.015623
21,Surface Temperature Change,"[Year, BC, Region Factors]",453867.53811,453893.863959,0.984829,0.015171
18,Surface Temperature Change,"[Year, Land Coverage, Region Factors]",453889.822053,453916.147902,0.985279,0.014721
40,Surface Temperature Change,"[Year, Land Coverage, CO2, Region Factors]",453881.20697,453916.308102,0.985056,0.014944
24,Surface Temperature Change,"[Year, CO2, Region Factors]",453905.334523,453931.660371,0.985592,0.014408
4,Surface Temperature Change,"[Year, Region Factors]",453927.365229,453944.915795,0.986094,0.013906
50,Surface Temperature Change,"[Year, Land Coverage, BC, CO, CO2]",454295.504856,454339.381271,0.993605,0.006395
36,Surface Temperature Change,"[Year, Land Coverage, BC, CO2]",454315.967624,454351.068756,0.994082,0.005918
41,Surface Temperature Change,"[Year, BC, CO, CO2]",454341.295826,454376.396958,0.994596,0.005404
20,Surface Temperature Change,"[Year, BC, CO2]",454362.258205,454388.584054,0.995083,0.004917
38,Surface Temperature Change,"[Year, Land Coverage, CO, CO2]",454365.291195,454400.392327,0.995083,0.004917
35,Surface Temperature Change,"[Year, Land Coverage, BC, CO]",454381.066162,454416.167294,0.995433,0.004567
22,Surface Temperature Change,"[Year, CO, CO2]",454404.798213,454431.124062,0.995945,0.004055
16,Surface Temperature Change,"[Year, Land Coverage, CO]",454406.368925,454432.694774,0.99599,0.00401
15,Surface Temperature Change,"[Year, Land Coverage, BC]",454410.547401,454436.87325,0.996101,0.003899
19,Surface Temperature Change,"[Year, BC, CO]",454464.896811,454491.222659,0.997219,0.002781
2,Surface Temperature Change,"[Year, CO]",454477.144692,454494.695257,0.997507,0.002493
1,Surface Temperature Change,"[Year, BC]",454497.481635,454515.032201,0.997953,0.002047
17,Surface Temperature Change,"[Year, Land Coverage, CO2]",454524.97292,454551.298768,0.998468,0.001532
0,Surface Temperature Change,"[Year, Land Coverage]",454538.814365,454556.364931,0.998804,0.001196
3,Surface Temperature Change,"[Year, CO2]",454558.961491,454576.512056,0.999217,0.000783
55,Surface Temperature Change,"[Land Coverage, BC, CO, CO2, Region Factors]",476731.475641,476775.352055,0.77125,0.22875
48,Surface Temperature Change,"[Land Coverage, CO, CO2, Region Factors]",476744.07982,476779.180952,0.771623,0.228377
47,Surface Temperature Change,"[Land Coverage, BC, CO2, Region Factors]",476784.170765,476819.271896,0.771424,0.228576
30,Surface Temperature Change,"[Land Coverage, CO2, Region Factors]",476894.769974,476921.095823,0.772931,0.227069
34,Surface Temperature Change,"[CO, CO2, Region Factors]",476942.89812,476969.223968,0.771828,0.228172
49,Surface Temperature Change,"[BC, CO, CO2, Region Factors]",476936.137216,476971.238347,0.771543,0.228457
33,Surface Temperature Change,"[BC, CO2, Region Factors]",476990.398727,477016.724575,0.771719,0.228281
14,Surface Temperature Change,"[CO2, Region Factors]",477080.826889,477098.377455,0.773072,0.226928
46,Surface Temperature Change,"[Land Coverage, BC, CO, Region Factors]",477242.394397,477277.495529,0.771377,0.228623
29,Surface Temperature Change,"[Land Coverage, CO, Region Factors]",477272.490353,477298.816202,0.770792,0.229208
8,Surface Temperature Change,"[Land Coverage, Region Factors]",477328.562396,477346.112962,0.771672,0.228328
27,Surface Temperature Change,"[Land Coverage, BC, Region Factors]",477330.364474,477356.690323,0.771604,0.228396
32,Surface Temperature Change,"[BC, CO, Region Factors]",477644.845586,477671.171435,0.77182,0.22818
13,Surface Temperature Change,"[CO, Region Factors]",477727.795746,477745.346312,0.770892,0.229108
11,Surface Temperature Change,"[BC, Region Factors]",477744.298781,477761.849347,0.772066,0.227934
26,Surface Temperature Change,"[Land Coverage, BC, CO2]",510177.74039,510204.066238,0.593072,0.406928
45,Surface Temperature Change,"[Land Coverage, BC, CO, CO2]",510179.324909,510214.42604,0.593048,0.406952
10,Surface Temperature Change,"[BC, CO2]",510464.164628,510481.715194,0.593384,0.406616
31,Surface Temperature Change,"[BC, CO, CO2]",510465.581588,510491.907436,0.593356,0.406644
28,Surface Temperature Change,"[Land Coverage, CO, CO2]",510681.542227,510707.868076,0.590377,0.409623
7,Surface Temperature Change,"[Land Coverage, CO2]",510976.973429,510994.523994,0.587937,0.412063
5,Surface Temperature Change,"[Land Coverage, BC]",511005.358512,511022.909078,0.593525,0.406475
25,Surface Temperature Change,"[Land Coverage, BC, CO]",510996.911982,511023.237831,0.5934,0.4066
12,Surface Temperature Change,"[CO, CO2]",511019.701144,511037.25171,0.590578,0.409422
9,Surface Temperature Change,"[BC, CO]",511584.545062,511602.095628,0.593917,0.406083
6,Surface Temperature Change,"[Land Coverage, CO]",512395.71993,512413.270496,0.588815,0.411185

In [12]:
best_model = np.asmatrix(X_variables.iloc[:, [0,1,2,3,4,5]])
a = best_model.T @ best_model
print(np.linalg.matrix_rank(a) == a.shape[1])
y = np.asmatrix(y).T

True

In [13]:
# SVD decomp
start = time.time()
u, s, vh = np.linalg.svd(a,full_matrices=False)
smat = np.diag(s)
# Calculating beta
smatinv = np.diag((1/(s)))
uinv = np.linalg.inv(u)
vhinv = np.linalg.inv(vh)
beta = (vhinv @ smatinv @ uinv) @ best_model.T @ y
K = y - (best_model)@beta
var = (K.T @ K)/(best_model.shape[0] - best_model.shape[1]) # Calculating variance
std_error = var * np.diag(vhinv @ smatinv @ uinv) # Calculating standard error
end = time.time()
print(end - start, "\n\n", beta, "\n\n", std_error)

0.002672910690307617

 [[ 4.77087986e-04]
 [ 4.36798945e-07]
 [-1.14997426e-03]
 [-2.30125223e-06]
 [ 3.62078905e-08]
 [-2.43129151e-02]]

 [[7.70678292e-12 5.46224534e-15 2.68992586e-08 3.78047652e-13
  2.21311625e-17 1.03883595e-06]]

In [14]:
list(combinations([0, 1, 2, 3, 4, 5], 6))

[(0, 1, 2, 3, 4, 5)]